<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="smoothscroll-top">
    <img src="{{ 'btn_top.png' | asset_img_url: '100x' }}" alt="ページトップ">
</div>

<script>
    $(function(){
      $('.smoothscroll-top').click(function(){
        var speed = 800;
        $("html, body").animate({scrollTop:0}, speed, "swing");
        return false;
      });
    });
</script>
