<div class="smoothscroll-top">
    {%- render 'icon-pagetop' -%}
</div>

<script>
    $(function(){
      $('.smoothscroll-top').click(function(){
        var speed = 800;
        $("html, body").animate({scrollTop:0}, speed, "swing");
        return false;
      });
    });
</script>
