/* basic */

html, 
body{
  font-family:'Montserrat', "Helvetica Neue", YuGothic, dnp-shuei-gothic-gin-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: 1px;
  position: relative;
}
body.homepage{
  background: white;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
  font-family: 'Montserrat', "Helvetica Neue", YuGothic, dnp-shuei-gothic-gin-std, sans-serif;
}
p{
  line-height: 1.5em;
}
.icon.icon-close{
  fill: black;
}
a:hover{
  opacity: 0.7;
}
.font_montserrat{
  font-family: 'Montserrat', sans-serif;
}
img{
  width: 100%;
  height: auto;
}
.grid__item .media > img{
  object-fit: contain;
  background: white;
}
.only_pc{
  display: none!important;
}
@media screen and (min-width: 769px){
  .only_pc{
    display: block!important;
  }
  .only_sp{
    display: none!important;
  }
  .shopify-section .page-width{
    padding: 0 10rem;
  }
}

/* header */
header .cart-count-bubble{
  background: #48C0D0;
  width: 11px;
  height: 11px;
  border: 1px solid white;
  bottom: 22px;
  left: auto;
  right: 6px;
}
#shopify-section-header .header-wrapper--border-bottom{
  border-bottom: none;
}

/* sp menu */
header #menu-drawer{
  border: none;
  width: 100%;
}
header .header__icon--cart .icon{
  height: 2rem;
  width: 2.2rem;
}
#menu-drawer .menu-drawer__menu{
  padding: 0 1rem;
}
#menu-drawer .menu-drawer__menu .menu-drawer__menu-item{
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
#menu-drawer .menu-drawer__menu li{
  border-bottom: 1px solid #EDEDED;
}
#menu-drawer .menu-drawer__utility-links{
  background-color: white;
  padding-top: 2rem;
}
#menu-drawer.menu-drawer .list-social__link{
  padding: 1.3rem 0.5rem;
}
#menu-drawer.menu-drawer .list-social{
  justify-content: center;
  margin-top: 1rem;
}
#menu-drawer .menu-drawer__utility-links .list-social .icon{
  width: 3.5rem;
  height: 3.5rem;
}
#menu-drawer .menu-drawer__utility-links .list-social .icon path{
  fill: white;
}
#menu-drawer .menu-drawer__utility-links .list-social .icon-facebook path{
  fill: #5F6279;
}
#menu-drawer .menu-drawer__utility-links .link .icon-arrow-blue{
  width: 5px;
  height: 9px;
  position: absolute;
  right: 2rem;
}
#menu-drawer .menu-drawer__utility-links .link .icon circle{
  fill: #5F6279;
}

#menu-drawer .menu-drawer__utility-links .link .icon-account{
  width: 1.5rem;
  height: 1.5rem;
}
.icon-account path{
  fill: black;
}
header.header__icon--menu .icon{
  height: 3rem;
  width: 2.5rem;
}
#menu-drawer .menu-drawer__account{
  background: #EAEAEA;
  border-radius: 4px;
  width: 100%;
  max-width: 280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.6rem;
  position: relative;
}
#menu-drawer .menu-drawer__inner-submenu li:last-child{
  border-bottom: none;
}
.has-submenu .icon-minus-menu{
  display: none;
}
.has-submenu details[open] .icon-plus-menu{
  display: none;
}
.has-submenu details[open] .icon-minus-menu{
  display: block;
}
#menu-drawer .menu-drawer__navigation-container{
  display: block;
}
#menu-drawer .menu-drawer__navigation{
  padding-bottom: 0;
}

.js .menu-drawer__submenu {
  position: inherit!important;
  border-left: none!important;
}
@media screen and (max-width: 768px){
  header.header.page-width{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  header.header .header__heading-link{
    max-width: 150px;
  }
  .shopify-section-header-hidden {
    transform: none;
  }
  .shopify-section-header-sticky{
    position: fixed;
    width: 100%;
  }
  .header__icon.header__icon--search > span{
    width: 3rem;
    margin-left: auto;
  }
}

/* pc menu */
@media screen and (min-width: 769px){
  header.header.page-width{
    padding: 0;
    padding-top: 2rem;
  }
  header .list-menu__item{
    font-size: 1.6rem;
    padding: 1.2rem 2.8rem;
  }
  header .header__submenu.list-menu{
    padding: 0;
    border: none;
    box-shadow: 0px 0px 16px -6px rgb(0 0 0 / 20%);
  }
  header .header__submenu .header__menu-item{
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  header .header__submenu li{
    border-bottom: 1px solid #EDEDED;
  }
  header .header__inline-menu{
    width: 100%;
  }
  header .header__inline-menu > ul > li{
    margin-right: 5rem;
  }
  header .header__inline-menu ul li:last-child{
    margin-right: 0;
  }
  .header--top-center .header__inline-menu > .list-menu--inline{
    padding: 1rem 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
  }
  header .header__menu-item:hover span{
    text-decoration: none;
  }
  .header:not(.header--top-center) > .header__search, .header--top-center * > .header__search{
    display: block;
  }
  header .header__icon--cart{
    margin-right: 0;
  }
}


/* footer */
footer.footer{
  background: #6D7083;
  margin-top: 5rem;
}
footer .smoothscroll-top{
  max-width: 40px;
  margin-left: auto;
  position: absolute;
  right: 20px;
  bottom: 85px;
}
footer.footer,
footer .footer-block__heading,
footer.footer a.list-menu__item--link{
  color: white;
  
}
footer.footer .list-social__item .icon{
  width: 3rem;
  height: 3rem;
}
footer.footer .footer__logo{
  max-width: 172px;
  margin-top: 3rem;
  position: relative;
}

footer.footer .footer__logo a{
  display: block;
}
footer.footer .footer-block--newsletter{
  margin-bottom: 0;
}
footer.footer .footer-block__details-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

footer.footer .footer-block__details-content a{
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  line-height: 1;
}
footer.footer .footer-block__details-content a::after{
  content: '';
  display: block;
  background: white;
  width: 1px;
  height: 8px;
  position: absolute;
  right: 0;
}
footer.footer .footer-block__details-content li:nth-child(3) a::after,
footer.footer .footer-block__details-content li:last-child a::after{
  content: none;
}
footer.footer .footer-block__heading{
  max-width: 240px;
  margin: auto;
  padding: 15px 0;
  margin-bottom: 1.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .footer-block__heading .icon-track{
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer-block__heading__small{
  font-size: 1.2rem;
}
footer.footer .footer__content-top{
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
footer.footer .grid{
  margin-bottom: 1rem;
}
footer.footer .footer__copyright{
  margin-top: 0;
}
footer.footer .list-social__link{
  padding: 1.3rem 0.5rem;
}
.copyright__content{
  font-weight: 100;
}
@media screen and (max-width: 768px){
  .homepage footer.footer{
    margin-top: 2rem;
  }
  footer.footer .grid{
    margin-bottom: 0;
  }
  footer.footer .footer__content-top{
    padding-bottom: 2rem;
  }
  footer.footer .footer__logo::before,
  footer.footer .footer__logo::after{
    content: '';
    background: #5F6279;
    width: 100vw;
    height: 1px;
    position: absolute;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  footer.footer .footer__logo::before{
    top: -12px;
  }
  footer.footer .footer__logo::after{
    bottom: -10px;
  }
  footer.footer .footer-block--newsletter{
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer.footer .footer-block--newsletter .list-social{
    justify-content: center;
  }
  footer.footer .footer__content-bottom{
    border-top: none;
    padding-bottom: 1.8rem;
  }
  footer.footer .footer-block__details-content a{
    display: flex;
    align-items: center;
  }
}
@media (min-width: 750px) and (max-width: 769px){
  footer .footer-block__details-content > :first-child .list-menu__item--link{
    padding-top: 1rem;
  }
}
@media screen and (min-width: 769px){
  footer .smoothscroll-top{
    max-width: 50px;
    bottom: 3rem;
    right: 5rem;
  }
  footer .smoothscroll-top .icon-pagetop{
    width: 53px;
    height: auto;
  }
  footer.footer{
    margin-top: 7rem;
  }
  .homepage footer.footer{
    margin-top: 4rem;
  }
  footer.footer .footer__content-top{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding: 3.5rem 5rem 4.5rem;
  }
  footer.footer .footer-block__heading{
    margin-left: 0;
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }
  footer.footer .footer-block__details-content{
    max-width: 410px;
    margin-left: -1.5rem;
    justify-content: flex-start;
  }
  footer.footer .footer-block__details-content a{
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  footer.footer .footer-block__details-content a::after{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  footer.footer .footer-block__details-content > li:not(:last-child){
    margin: 0;
    margin-bottom: 0.7rem;
  }
  footer.footer .footer-block__details-content > :first-child .list-menu__item--link{
    padding-top: 0.5rem;
  }
  footer.footer .footer__column--info{
    align-items: flex-start;
  }
  footer.footer .footer-block--newsletter{
    flex-direction: column;
    margin: 0;
  }
  footer.footer .list-social{
    max-height: 6rem;
  }
  footer.footer .list-social__link{
    padding: 0 0.5rem;
  }
  footer.footer .list-social__item .icon{
    width: 3.5rem;
    height: 3.5rem;
  }
  footer.footer .footer__logo{
    margin-top: 0;
  }
  footer.footer .footer__content-bottom{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    border-top: 1px solid #5F6279;
  }
  .footer__content-bottom .footer__content-bottom-wrapper{
    max-width: 1140px;
    padding: 0 5rem;
  }
}


/* メインビジュアル */
.swiper .swiper-pagination-bullet{
  border-color: #EFEFEF;
  background: #EFEFEF;
  opacity: 1;
}
.section_mainvisual .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: #48C0D0;
  background: #48C0D0;
}
.section_mainvisual .swiper-pagination{
  position: inherit;
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px){
  .section_mainvisual.shopify-section .page-width{
    padding: 0;
  }
  .section_mainvisual .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
  }
  
}
@media screen and (min-width: 769px){
  .section_mainvisual .page-width{
    padding: 0;
  }
  .section_mainvisual .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    margin: 0 7px!important;
  }
  .m-swiper a:hover{
    opacity: 1;
  }
}

/* コレクション */
.homepage .shopify-section.spaced-section{
  margin-top: 4rem;
}
.shopify-section h2.title{
  font-size: 2.8rem;
  display: flex;
  align-items: center;
}
.shopify-section h2.title span{
  font-size: 1.4rem;
  font-weight: 500;
  color: #969696;
  margin-left: 1.5rem;
}
.title-wrapper-with-link a{
  color: white;
  justify-content: flex-start;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
.btn_hover{
  box-shadow: none!important;
  min-width: 147px;
  position: relative;
  transition: color .25s ease;
}
.btn_hover span{
  position: relative;
  font-size: 1.2rem;
}
.btn_hover::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: all .25s ease;
  transition-property: transform;
}
.btn_hover::after{
  content: '';
  background: white;
  display: block;
  width: 16px;
  height: 1px;
  margin-left: auto;
}
.btn_hover:hover{
  opacity: 1;
  color: black;
  border: 1px solid black;
  box-shadow: none!important;
}
.btn_hover:hover::before{
  transform: scaleX(1);
  transform-origin: left;
  z-index: 0;
}
.btn_hover:hover::after{
  content: '';
  background: black;
  display: block;
  width: 14px;
  height: 1px;
  margin-left: auto;
  z-index: 1;
}
.price__sale .price-item--sale{
  font-weight: 600;
  color: #EB0B61;
}
.price.price--on-sale .price-item--regular{
  text-decoration: line-through 1px solid #EB0B61;
}
.grid__item .card__badge{
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.grid__item .card__badge .badge,
.card__badge .badge{
  border-radius: 0;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 0.8rem;
}
.card-information__text a{
  font-size: 1.4rem;
}
.card-information__wrapper > .price{
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: 600;
}
.grid__item .price.price--on-sale .price-item--regular{
  font-size: 1.6rem;
}
.grid__item .price--on-sale .price__sale{
  flex-direction: column;
}
.product .price.price--on-sale .price__sale{
  flex-direction: column;
  font-size: 2rem;
}
@media screen and (max-width: 769px){
  .btn_hover{
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
  .shopify-section .page-width{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .shopify-section .price.price--on-sale .price-item--regular,
  .shopify-section .card-information__wrapper > .price{
    font-size: 1.2rem;
  }
  .collectionpage .shopify-section .grid__item .price.price--on-sale .price-item--regular,
  .collectionpage .shopify-section .card-information__wrapper > .price{
    font-size: 1.5rem;
  }
  .product .price.price--on-sale .price-item--regular{
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px){
  .homepage .shopify-section.spaced-section{
    margin-top: 7rem;
  }
  .shopify-section h2.title{
    font-size: 3.6rem;
  }
  .shopify-section h2.title span{
    font-size: 1.6rem;
  }
  .grid__item .card__badge .badge,
  .card__badge .badge{
    font-size: 1.2rem;
    padding: 0.7rem 0.9rem;
  }
  .btn_hover{
    min-width: 185px;
  }
  .btn_hover span{
    font-size: 1.4rem;
  }
  .btn_hover:hover::after{
    content: '';
    background: black;
    display: block;
    width: 16px;
    height: 1px;
    margin-left: auto;
    z-index: 1;
  }
  .card-information__text a{
    font-size: 1.6rem;
  }
  .collection .title-wrapper-with-link{
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  .product .price.price--on-sale .price-item--regular{
    font-size: 2.2rem;
  }
  .product .price.price--on-sale .price__sale{
    font-size: 2.2rem;
  }
}

/* New Items */
.section_newitems .swiper-pagination{
  position: inherit;
  margin-top: 2rem;
}
.section_newitems .slider-button{
  top: 34%;
  width: 36px;
  height: 36px;
  z-index: 1;
}
.section_newitems .slider-button::after{
  content: none;
}
.swiper-button-prev img{
  transform: rotate(180deg);
}
.section_newitems .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: #969696;
  background: #969696;
}
.section_newitems .swiper-button-prev{
  left: 0;
}
.section_newitems .swiper-button-next{
  right: 0;
}
.n-swiper .swiper-slide{
  max-width: 31.8%;
  padding-left: 0;
  margin-right: 8px!important;
}
@media screen and (min-width: 769px){
  .n-swiper .swiper-slide{
    max-width: 21.7%;
    padding-left: 0;
    margin-right: 43px!important;
  }
  .section_newitems .slider-button{
    top: 43%;
    width: 60px;
    height: 60px;
  }
  .section_newitems .swiper-button-prev{
    left: 7rem;
  }
  .section_newitems .swiper-button-next{
    right: 7rem;
  }
  .section_newitems .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    margin: 0 7px!important;
  }
}

/* Best Seller */
.section_bestseller{
  border-top: 1px solid #D9D9D9;
}

@media screen and (max-width: 768px){
  .section_bestseller .grid--2-col .grid__item{
    width: calc(33% - 0.5rem / 2);
    max-width: 33%;
  }
  .section_bestseller .grid{
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
  .section_bestseller .collection .grid{
    justify-content: space-between;
  }
  .section_bestseller .product-grid .grid__item{
    max-width: 22.5%;
  }
  .section_bestseller .product-grid .grid__item:nth-child(5){
    display: none;
  }
  .section_bestseller.shopify-section.spaced-section{
    margin-top: 2rem;
  }
}


/* Brand List */
.section_brandlist.shopify-section.spaced-section{
  background: #FAFAFA;
  padding: 4rem 0 5rem;
  margin-top: 0;
}
.section_brandlist .collection-list .collection-list__item{
  width: 33.33%;
  max-width: 33.33%;
}
.section_brandlist .collection-list__item .card__text{
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background: rgba(0,0,0, 0.6);
  padding: 0.6rem;
  text-align: center;
}
.section_brandlist .card__text h3{
  font-size: 1.2rem;
  color: white;
  text-align: left;
  display: inline-block;
}
.section_brandlist .card--light-border{
  border-color: #C1C1C1;
}
@media screen and (max-width: 768px){
  .section_brandlist .title-wrapper-with-link,
  .section_brandlist.collection-list-section .collection-list:not(.slider) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section_brandlist.collection-list-section .collection-list:not(.slider){
    margin-left: -1rem;
  }
  .section_brandlist .collection-list .collection-list__item{
    padding-left: 1rem;
  }
}
@media screen and (min-width: 769px){
  .section_brandlist.shopify-section.spaced-section{
    padding: 6rem 0 10rem;
  }
  .section_brandlist .collection-list{
    justify-content: space-between;
  }
  .section_brandlist .collection-list.grid--3-col-tablet .grid__item{
    width: 20%;
    max-width: 190px;
    margin-bottom: 1.5rem;
  }
  .section_brandlist .collection-list__item .card__text{
    padding: 1rem;
    text-align: center;
  }
  .section_brandlist .card__text h3{
    font-size: 1.4rem;
  }
  .section_brandlist .title-wrapper-with-link{
    margin: 0 0 3rem;
  }
}

/* スペシャルセット */
.section_specialset {
  background: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5rem 0;
  margin-top: 4rem;
}
.section_specialset .collage{
  display: flex;
}
.section_specialset .collage-card.collage-product:only-child{
  border: none;
}
.section_specialset .collage-card.collage-product:only-child a{
  position: inherit;
}
.section_specialset .btn_hover{
  background: #EB0B61;
}
.section_specialset .btn_hover:hover{
  color: #EB0B61;
  border: 1px solid #EB0B61;
}
.section_specialset .btn_hover:hover::after{
  background: #EB0B61;
}
.information__leftbox{
  text-align: center;
  line-height: 1.5em;
}
.section_specialset.shopify-section h2.title{
  justify-content: center;
}
.information__subtitle p{
  font-size: 1.4rem;
  font-weight: 600;
  color: #EB0B61;
  margin-bottom: 1rem;
}
.information__description {
  margin-bottom: 3rem;
}
.information__description p{
  font-size: 1.6rem;
  color: black;
  line-height: 1.5em;
}
.section_specialset .collection-list-view-all{
  text-align: center;
}
.section_specialset .collage-product__badge{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.section_specialset .card__badge{
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.section_specialset .card-wrapper .card-information{
  padding: 1rem 0;
}
.section_specialset .collage:not(.collage--mobile) .media > .collage-card__image {
  position: inherit;
  object-fit: contain;
}
.section_specialset .price--on-sale .price__sale{
  flex-direction: column;
}
.section_specialset .price.price--on-sale .price-item--regular{
  font-size: 1.6rem;
}
@media screen and (max-width: 768px){
  .section_specialset .collage{
    margin-bottom: 1.5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
  .section_specialset{
    padding: 9.5rem 0 9rem;
    margin-top: 5rem;
  }
  .section_specialset .collage{
    gap: 4rem;
  }
  .section_specialset .collage:not(.collage--mobile) .media > .collage-card__image {
    position: inherit;
  }
  .section_specialset .collage-card:not(.collage-card--left):not(.collage-card--right) > *{
    position: inherit;
  }
  .section_specialset .page-width{
    display: flex;
    justify-content: space-between;
  }
  .section_specialset .collage__item{
    max-width: 310px;
  }
  .information__leftbox,
  .section_specialset .collection-list-view-all{
    text-align: left;
  }
  .section_specialset.shopify-section h2.title{
    justify-content: flex-start;
    margin-top: 0;
  }
  .information__subtitle p{
    font-size: 1.6rem;
  }
}

/* お知らせ */
.section_info .rich-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_info .rich-text__blocks{
  margin: 0;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section_info .rich-text__blocks:last-child{
  border-bottom: none;
}
.section_info .rich-text__blocks h2{
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  position: relative;
}
.section_info .rich-text__blocks h2::before{
  content: '';
  background: #BCE7ED;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.section_info .rich-text__text{
  font-size: 1.4rem;
  line-height: 1.5em;
}
.section_info .rich-text__text a{
  color: #48C0D0;
  text-decoration: underline;
}
.section_info .rich-text:not(.color-background-1){
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px){
  .section_info.shopify-section h2.title{
    margin-bottom: 0;
  }
  .section_info .rich-text__blocks:first-child .rich-text__text{
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 769px){
  .section_info .rich-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section_info .rich-text__text{
    margin-bottom: 2rem;
  }
  .section_info .rich-text__blocks{
    max-width: 46.8%;
    position: relative;
    border-bottom: none;
  }
  .section_info .rich-text__blocks::after{
    content: '';
    background: #D1D1D1;
    width: 1px;
    height: 40px;
    display: block;
    position: absolute;
    right: -3.5rem;
    top: 50px;
  }
  .section_info .rich-text__blocks:last-child::after{
    content: none;
  }
  .section_info .img_info{
    display: block;
    max-width: 330px;
  }
}


/* 商品一覧 */
.pagination__list{
  position: relative;
  padding-bottom: 80px;
}
.pagination__list .page__prev{
  position: absolute;
  bottom: 0;
  left: 26%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.pagination__list .page__next{
  position: absolute;
  bottom: 0;
  right: 28%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.pagination .pagination__item{
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
.pagination .pagination__item::after{
  content: '';
  display: block;
  width: 47px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid #EDEDED;
  border-radius: 40px;
}
.pagination .pagination__item.dot::after{
  content: none;
}
.pagination .pagination__item--current::after, 
.pagination .pagination__item:hover::after{
  content: '';
  display: block;
  width: 47px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid black;
  border-radius: 40px;
}
.page__prev .pagination__item,
.page__next .pagination__item{
  background: black;
  color: white;
  font-size: 1.2rem;
  width: 100px;
  height: 48px;
  border-radius: 0;
  justify-content: flex-end;
}
.page__prev .pagination__item:hover,
.page__next .pagination__item:hover{
  opacity: 0.6;
}
.page__next .pagination__item{
  justify-content: flex-start;
}
.page__prev .pagination__item::after{
  content: '';
  background: white;
  border-radius: 0;
  border: 0;
  width: 16px;
  height: 1px;
  bottom: 50%;
  left: 20px;
  transform: translateX(-50%);
}
.page__next .pagination__item::after{
  content: '';
  background: white;
  border-radius: 0;
  border: 0;
  width: 16px;
  height: 1px;
  bottom: 50%;
  left: 0;
  transform: translateX(-50%);
}
.page__next .pagination__item::after{
  left: auto;
  right: 0;
}
.page__prev .pagination__item span{
  padding-right: 2rem;
  font-family: 'Montserrat';
}
.page__next .pagination__item span{
  padding-left: 2rem;
  font-family: 'Montserrat';
}
.page__prev .pagination__item:hover::after{
  content: '';
  background: white;
  border-radius: 0;
  width: 16px;
  height: 1px;
  bottom: 50%;
  left: 20px;
  border: 0;
}
.page__next .pagination__item:hover::after{
  content: '';
  background: white;
  border-radius: 0;
  width: 16px;
  height: 1px;
  bottom: 50%;
  left: auto;
  right: 0;
  border: 0;
}
.card-wrapper .card--outline:not(.card--soft){
  border: 1px solid #EBEBEB;
  margin-bottom: 1rem;
}
.select .icon-caret path{
  fill: #969696;
}
.collectionpage .collection-hero__title{
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.collectionpage .collection-hero__description p{
  font-size: 1.4rem;
}
.collectionpage .collection-hero__title .subtitle{
  color: #969696;
  font-size: 1.4rem;
  margin-left: 1.5rem;
}
.select .facet-filters__sort:focus-visible{
  outline: none;
  box-shadow: none;
  outline-offset: 0;
}
.collectionpage .price--on-sale .price__sale{
  flex-direction: column;
}
.collectionpage .price.price--on-sale .price-item--regular{
  font-size: 1.6rem;
}
@media screen and (max-width: 768px){
  .facets-container{
    margin-bottom: 2rem;
  }
  .collectionpage .product-grid.negative-margin,
  .template-search__results .product-grid.negative-margin{
    margin-left: -1rem;
  }
  .collectionpage .product-grid .grid__item,
  .template-search__results .product-grid .grid__item{
    padding-left: 1rem;
    padding-bottom: 3rem;
  }
  #MainContent .pagination-wrapper{
    margin-top: 4rem;
    margin-bottom: -3rem;
  }
  .mobile-facets__main .mobile-facets__footer{
    margin-top: 2rem;
  }
}
@media screen and (min-width: 769px){
  #MainContent .pagination-wrapper{
    margin-top: 6rem;
    margin-bottom: 5rem;
  }
  .pagination__list{
    padding-bottom: 0;
  }
  .pagination__list .page__prev{
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
  }
  .pagination__list .page__next{
    position: absolute;
    bottom: 0;
    right: 95px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
  }
  .facets-container .facets__form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .facets-container .facets__form .facet-filters{
    padding-left: 0;
  }
  .card-wrapper .card--outline:not(.card--soft){
    margin-bottom: 1.6rem;
  }
  .collectionpage .collection-hero__title{
    font-size: 3rem;
  }
  .collectionpage .collection-hero__title::after{
    font-size: 1.6rem;
    margin-left: 2rem;
  }
  .collectionpage #product-grid,
  .template-search__results #product-grid{
    margin-left: -4rem;
  }
  .collectionpage .grid__item,
  .template-search__results .grid__item{
    padding-left: 4rem;
  }
  .page__prev .pagination__item,
  .page__next .pagination__item{
    background: black;
    color: white;
    font-size: 1.4rem;
    width: 138px;
    height: 48px;
    border-radius: 0;
  }
  .pagination .pagination__list > li:not(:last-child){
    margin-right: 1.4rem;
  }
}


/* 商品詳細 */
.product .product__title{
  font-size: 2.2rem;
  font-weight: 600;
}
.product .price{
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.product .product-form__submit{
  background: black;
  color: white;
  font-size: 1.4rem;
  padding: 1.8rem 3rem 1.8rem;
}
.product-form__submit .icon-cart{
  max-width: 16px;
  margin-right: 6px;
}
.product-form__submit .icon-cart path,
.product-form__submit .icon-cart ellipse{
  stroke: white;
}
.product__media-toggle {
  display: none !important;
}
.product__modal-opener .product__media-icon {
  display: none !important;
}
.slider-counter{
  font-size: 1.4rem;
}
.slider-counter span{
  margin: 1rem;
}
.product .slider-buttons .icon {
  height: 2rem;
  width: 1.4rem;
}
.product .slider-buttons .icon path{
  fill: black;
}
h2.product-recommendations__heading{
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
h2.product-recommendations__heading span{
  font-size: 1.4rem;
  font-weight: 600;
  color: #969696;
  margin-left: 1.5rem;
}
.section_recommend{
  border-top: 1px solid #D1D1D1;
  padding-top: 4rem;
}
.product .price .badge{
  display: none;
}
.badge.slider_top{
  position: absolute;
  right: 0;
  z-index: 2;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0;
}
.product .soldout{
  color: #EB0B61;
  border: none;
  padding-left: 0;
  font-size: 1.6rem;
}
.product-form .shopify-payment-button__button{
  background: #004EA2;
  box-shadow: 0 0 0 0.1rem #004ea2;
  padding: 2rem 0;
}
.product__description p{
  line-height: 1.6em;
}
.product-section .quantity{
  border-color: #BCBCBC;
  height: 50px;
  width: 150px;
}
.product-form__input.product-form__quantity{
  margin-top: 3rem;
  margin-bottom: -1.2rem;
}
@media screen and (max-width: 769px){
  .section_recommend{
    margin-bottom: 3rem!important;
  }
  .section_recommend .product-recommendations .grid {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .section_recommend .product-recommendations .product-grid .grid__item{
    max-width: 140px;
    padding-left: 1.2rem;
  }
  .product-section.spaced-section{
    margin-top: 5rem;
  }
  .badge.slider_top{
    right: 15px;
  }
}
@media screen and (min-width: 769px){
  .product-section.spaced-section{
    margin-top: 9rem;
  }
  .product .product__title{
    font-size: 2.4rem;
  }
  .product .product-form__submit{
    font-size: 1.6rem;
    padding: 2.2rem 3rem 2.2rem;
  }
  .section_recommend{
    padding-top: 6.8rem;
    margin-top: 8rem;
    margin-bottom: 0!important;
  }
  h2.product-recommendations__heading{
    font-size: 3rem;
  }
  h2.product-recommendations__heading span{
    font-size: 1.6rem;
  }
  .product-form .shopify-payment-button__button{
    padding: 2.4rem 0;
  }
  .spr-form-actions{
    display: flex;
    justify-content: center;
  }
  .product.product--medium .thumbnail-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .section_recommend .grid {
    margin-left: -4rem;
    margin-bottom: 0;
  }
  .section_recommend .grid__item {
    padding-left: 4rem;
  }
  .product-section .product--medium:not(.product--no-media) .product__media-wrapper,
  .product-section .product--small:not(.product--no-media) .product__info-wrapper,
  .product-section .product--medium:not(.product--no-media) .product__info-wrapper,
  .product-section .product--small:not(.product--no-media) .product__media-wrapper{
    max-width: 50%;
    width: calc(50% - 1rem / 2);
  }
  .product-section .product-form__submit{
    margin-bottom: 1.2rem;
  }
  .product-section .quantity{
    height: 55px;
  }
}


/*下層ページ*/
h1.main-page-title{
  font-size: 2.8rem;
}
.contact__button .button{
  width: 100%;
}
.mobile-facets__summary .mobile-facets__sort .select{
  width: 100%;
}
.mobile-facets__open svg{
  right: -3rem;
}
.mobile-facets__open svg path{
  fill: #969696;
}
.cart-items thead th{
  font-size: 1.4rem;
}
.cart__ctas button{
  padding: 1.7rem 3rem 1.7rem;
}
p.payment_imgbox{
  display: flex;
  align-items: center;
}
p.payment_imgbox img{
  max-width: 50px;
}
@media screen and (max-width: 768px){
  p.payment_imgbox{
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
  h1.main-page-title{
    font-size: 3.6rem;
  }
  .pagewidth_100 .page-width--narrow{
    max-width: 70%;
  }
}


/* review */
#shopify-product-reviews .spr-container{
  padding: 0;
  border: none;
}
.spr-form input{
  min-height: 5rem;
  min-width: calc(7rem + (var(--inputs-border-width) * 2));
  width: 100%;
  outline: none;
  box-shadow: none;
  border: 1px solid #ededed;
  border-radius: 4px;
}
.spr-form-input .spr-form-input-textarea{
  outline: none;
  box-shadow: none;
  border: 1px solid #ededed;
  border-radius: 4px;
}
h2.spr-header-title{
  position: relative;
  display: flex;
  align-items: center;
}
h2.spr-header-title::after{
  content: '商品レビュー';
  font-size: 1.4rem;
  color: #969696;
  margin-left: 1rem;
}
.spr-summary{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.spr-summary .spr-summary-actions a{
  font-size: 15px;
  font-weight: 600;
  background: url(../assets/btn_arrow.png);
  background-size: 34px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  display: block;
  padding: 2rem 0;
}
.spr-summary .spr-summary-actions-newreview::before{
  content: '';
  background: url(../assets/icon-pen.png);
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 6px;
}
.product__linkreview{
  font-size: 15px;
  text-decoration: underline;
  color: black;
  display: flex;
  align-items: center;
}
.product__linkreview span{
  margin-right: 6px;
}
.spr-content .spr-form{
  border-top: none;
  padding: 0;
  margin-top: 4rem;
}
.spr-content .spr-form-title{
  display: none;
}
.spr-content .spr-form-review-body{
  margin-bottom: 3rem;
}
.spr-content .spr-form-label{
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
}
.spr-form-actions .spr-button{
  max-width: 450px;
  padding: 2rem 3rem 2rem;
  margin: auto;
  border: none;
  border-radius: 0;
}
.product-section #shopify-product-reviews{
  position: relative;
  padding-top: 4rem;
  overflow: visible;
}
#shopify-product-reviews::before{
  content: '';
  background: #D9D9D9;
  width: 100vw;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.spr-summary-actions{
  position: relative;
  width: 100%;
  text-align: left;
}
.spr-summary-actions::before{
  content: '';
  background: #D9D9D9;
  width: 100vw;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.spr-form-contact-name, 
.spr-form-contact-email, 
.spr-form-contact-location, 
.spr-form-review-rating, 
.spr-form-review-title, 
.spr-form-review-body{
  margin: 0 0 2rem 0;
}
.spr-summary-actions-togglereviews{
  display: block;
  margin-top: 1rem;
}
#shopify-product-reviews .spr-review-header-byline{
  display: flex;
  justify-content: space-between;
  font-style: inherit;
  color: black;
  margin: 1rem 0 1.5em 0;
}
.product .product__linkreview{
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px){
  .spr-summary-caption{
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 769px){
  h2.spr-header-title{
    font-size: 3rem;
  }
  h2.spr-header-title::after{
    font-size: 1.6rem;
  }
  .spr-form{
    display: block!important;
  }
  .spr-summary-actions{
    display: none;
  }
  .spr-content .spr-form-title{
    display: block;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
  }
  .spr-form-title::before{
    content: '';
    background: url(../assets/icon-pen.png);
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 6px;
  }
  .spr-summary-caption {
    margin-bottom: 3rem;
  } 
  .product-section #shopify-product-reviews{
    padding-top: 7rem;
  }
  .spr-content .spr-form-review-body{
    margin-bottom: 4rem;
  }
  .product .product__linkreview{
    margin-bottom: 5rem;
  }
}

/* 特商法 */
.c-tbl-list__tr{
  line-height: 2em;
  margin-bottom: 2rem;
}
.c-tbl-list__th{
  font-weight: 600;
  font-size: inherit;
}
h2.c-ttl-main {
  margin-bottom: 1.5rem;
}
.p-privacy-box{
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
h3.c-ttl-second{
  margin-bottom: 1rem;
}

/* login */
.customer.login button,
#customer_login button,
#create_customer button{
  width: 100%;
}
.customer .btn_account_logout{
  margin: 5rem auto 2rem;
  display: block;
  text-align: center;
}
h2.address__heading{
  text-align: center;
  margin-top: 3rem;
}
.address__space{
  margin-top: 2rem;
}
.address__button button{
  width: 100%;
}

@media screen and (min-width: 769px){
  .customer .btn_account_logout{
    margin: 7rem auto 2rem;
  }
}

/* search */
input.search__input:focus::-webkit-input-placeholder {
	color: transparent;
}
input.search__input:focus::-moz-placeholder {
	color: transparent;
}
input.search__input:focus::-ms-input-placeholder {
	color: transparent;
}
input.search__input:focus::placeholder {
	color: transparent;
}
@media screen and (max-width: 768px){
  .search-modal.modal__content{
    height: 150px;
  }
}