/* basic */

html, 
body{
  font-family:'Montserrat', "Helvetica Neue", YuGothic, dnp-shuei-gothic-gin-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: 1px;
  position: relative;
}
body.homepage{
  background: white;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
  font-family: 'Montserrat', "Helvetica Neue", YuGothic, dnp-shuei-gothic-gin-std, sans-serif;
}
.icon.icon-close{
  fill: black;
}
a:hover{
  opacity: 0.7;
}
.font_montserrat{
  font-family: 'Montserrat', sans-serif;
}
img{
  width: 100%;
  height: auto;
}
.only_pc{
  display: none!important;
}
@media screen and (min-width: 769px){
  .only_pc{
    display: block!important;
  }
  .only_sp{
    display: none!important;
  }
}

/* header */
header .cart-count-bubble{
  background: #48C0D0;
  width: 11px;
  height: 11px;
  border: 1px solid white;
  bottom: 22px;
  left: auto;
  right: 6px;
}
#shopify-section-header .header-wrapper--border-bottom{
  border-bottom: none;
}

/* sp menu */
header #menu-drawer{
  border: none;
  width: 100%;
}
header .header__icon--cart .icon{
  height: 2rem;
  width: 2.2rem;
}
#menu-drawer .menu-drawer__menu{
  padding: 0 1rem;
}
#menu-drawer .menu-drawer__menu .menu-drawer__menu-item{
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
#menu-drawer .menu-drawer__menu li{
  border-bottom: 1px solid #EDEDED;
}
#menu-drawer .menu-drawer__utility-links{
  background-color: white;
  padding-top: 2rem;
}
#menu-drawer.menu-drawer .list-social__link{
  padding: 1.3rem 0.5rem;
}
#menu-drawer.menu-drawer .list-social{
  justify-content: center;
  margin-top: 1rem;
}
#menu-drawer .menu-drawer__utility-links .list-social .icon{
  width: 3.5rem;
  height: 3.5rem;
}
#menu-drawer .menu-drawer__utility-links .list-social .icon path{
  fill: white;
}
#menu-drawer .menu-drawer__utility-links .link .icon-arrow-blue{
  width: 5px;
  height: 9px;
  position: absolute;
  right: 2rem;
}
#menu-drawer .menu-drawer__utility-links .link .icon circle{
  fill: #5F6279;
}

#menu-drawer .menu-drawer__utility-links .link .icon-account{
  width: 1.5rem;
  height: 1.5rem;
}
.icon-account path{
  fill: black;
}
#menu-drawer .menu-drawer__account{
  background: #EAEAEA;
  border-radius: 4px;
  width: 100%;
  max-width: 280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.6rem;
  position: relative;
}
#menu-drawer .menu-drawer__inner-submenu li:last-child{
  border-bottom: none;
}
.has-submenu .icon-minus-menu{
  display: none;
}
.has-submenu details[open] .icon-plus-menu{
  display: none;
}
.has-submenu details[open] .icon-minus-menu{
  display: block;
}
#menu-drawer .menu-drawer__navigation-container{
  display: block;
}
#menu-drawer .menu-drawer__navigation{
  padding-bottom: 0;
}

.js .menu-drawer__submenu {
  position: inherit!important;
  border-left: none!important;
}
@media screen and (max-width: 768px){
  header.header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header.header .header__heading-link{
    max-width: 150px;
  }
  .shopify-section-header-hidden {
    transform: none;
  }
  .shopify-section-header-sticky{
    position: fixed;
    width: 100%;
  }
  
}

/* pc menu */
@media screen and (min-width: 769px){
  header .list-menu__item{
    font-size: 1.6rem;
    padding: 1.2rem 2.8rem;
  }
  header .header__submenu.list-menu{
    padding: 0;
    border: none;
    box-shadow: 0px 0px 16px -6px rgb(0 0 0 / 20%);
  }
  header .header__submenu .header__menu-item{
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  header .header__submenu li{
    border-bottom: 1px solid #EDEDED;
  }
  header .header__inline-menu{
    width: 100%;
  }
  .header--top-center .header__inline-menu > .list-menu--inline{
    padding: 1rem 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
  }
  header .header__menu-item:hover span{
    text-decoration: none;
  }
  .header:not(.header--top-center) > .header__search, .header--top-center * > .header__search{
    display: block;
  }
}


/* footer */
footer.footer{
  background: #6D7083;
}
footer .smoothscroll-top{
  max-width: 40px;
  margin-left: auto;
  position: absolute;
  right: 20px;
  bottom: 105px;
}
footer.footer,
footer .footer-block__heading,
footer.footer a.list-menu__item--link{
  color: white;
  
}
footer.footer .list-social__item .icon{
  width: 3rem;
  height: 3rem;
}
footer.footer .footer__logo{
  max-width: 172px;
  margin-top: 3rem;
  position: relative;
}

footer.footer .footer__logo a{
  display: block;
}
footer.footer .footer-block--newsletter{
  margin-bottom: 0;
}
footer.footer .footer-block__details-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

footer.footer .footer-block__details-content a{
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  line-height: 1;
}
footer.footer .footer-block__details-content a::after{
  content: '';
  display: block;
  background: white;
  width: 1px;
  height: 8px;
  position: absolute;
  right: 0;
}
footer.footer .footer-block__details-content li:nth-child(3) a::after,
footer.footer .footer-block__details-content li:last-child a::after{
  content: none;
}
footer.footer .footer-block__heading{
  max-width: 240px;
  margin: auto;
  padding: 15px 0;
  margin-bottom: 1.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .footer-block__heading .icon-track{
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer-block__heading__small{
  font-size: 1.2rem;
}
footer.footer .footer__content-top{
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
footer.footer .grid{
  margin-bottom: 1rem;
}
footer.footer .footer__copyright{
  margin-top: 0;
}
footer.footer .list-social__link{
  padding: 1.3rem 0.5rem;
}

@media screen and (max-width: 768px){
  footer.footer .footer__logo::before,
  footer.footer .footer__logo::after{
    content: '';
    background: #5F6279;
    width: 100vw;
    height: 1px;
    position: absolute;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  footer.footer .footer__logo::before{
    top: -12px;
  }
  footer.footer .footer__logo::after{
    bottom: -4px;
  }
  footer.footer .footer__content-bottom{
    border-top: none;
  }
}
@media screen and (min-width: 769px){
  footer .smoothscroll-top{
    max-width: 50px;
    bottom: 0;
    right: 5rem;
  }
  footer .smoothscroll-top .icon-pagetop{
    width: 50px;
    height: auto;
  }
  footer.footer .footer__content-top{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding: 3.5rem 5rem;
  }
  footer.footer .footer__content-bottom-wrapper{
    max-width: 1140px;
  }
  footer.footer .footer-block__heading{
    margin-left: 0;
    font-size: 1.6rem;
  }
  footer.footer .footer-block__details-content{
    max-width: 410px;
    margin-left: -1.5rem;
    justify-content: flex-start;
  }
  footer.footer .footer-block__details-content a{
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  footer.footer .footer-block__details-content a::after{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  footer.footer .footer-block__details-content > li:not(:last-child){
    margin: 0;
  }
  footer.footer .footer-block__details-content > :first-child .list-menu__item--link{
    padding-top: 0.5rem;
  }
  footer.footer .footer__column--info{
    align-items: flex-start;
  }
  footer.footer .footer-block--newsletter{
    flex-direction: column;
    margin: 0;

  }
  footer.footer .list-social{
    max-height: 6rem;
  }
  footer.footer .list-social__link{
    padding: 0 0.5rem;
  }
  footer.footer .list-social__item .icon{
    width: 3.5rem;
    height: 3.5rem;
  }
  footer.footer .footer__logo{
    margin-top: 0;
  }
  footer.footer .footer__content-bottom{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #5F6279;
  }
}


/* メインビジュアル */
.swiper .swiper-pagination-bullet{
  border-color: #EFEFEF;
  background: #EFEFEF;
  opacity: 1;
}
.section_mainvisual .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: #48C0D0;
  background: #48C0D0;
}
.section_mainvisual .swiper-pagination{
  position: inherit;
}
@media screen and (max-width: 768px){
  .section_mainvisual .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
  }
  .section_mainvisual .page-width{
    padding: 0;
  }
}

/* コレクション */
.shopify-section h2.title{
  font-size: 2.8rem;
  display: flex;
  align-items: center;
}
.shopify-section h2.title span{
  font-size: 1.4rem;
  font-weight: 600;
  color: #969696;
  margin-left: 1.5rem;
}
.title-wrapper-with-link a{
  color: white;
  justify-content: flex-start;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
.btn_hover{
  box-shadow: none!important;
  min-width: 147px;
  position: relative;
  transition: color .25s ease;
}
.btn_hover span{
  position: relative;
  font-size: 1.2rem;
}
.btn_hover::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: all .25s ease;
  transition-property: transform;
}
.btn_hover::after{
  content: '';
  background: white;
  display: block;
  width: 16px;
  height: 1px;
  margin-left: auto;
}
.btn_hover:hover{
  opacity: 1;
  color: black;
  border: 1px solid black;
  box-shadow: none!important;
}
.btn_hover:hover::before{
  transform: scaleX(1);
  transform-origin: left;
  z-index: 0;
}
.btn_hover:hover::after{
  content: '';
  background: black;
  display: block;
  width: 14px;
  height: 1px;
  margin-left: auto;
  z-index: 1;
}
.price__sale .price-item--sale{
  font-weight: 600;
  color: #EB0B61;
}
.price.price--on-sale .price-item--regular{
  text-decoration: line-through 1px solid #EB0B61;
}
.grid__item .card__badge{
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.grid__item .card__badge .badge{
  border-radius: 0;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 0.8rem;
}
@media screen and (max-width: 769px){
  .btn_hover{
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 769px){
  .shopify-section h2.title{
    font-size: 3.6rem;
  }
  .shopify-section h2.title span{
    font-size: 1.6rem;
  }
  .grid__item .card__badge .badge{
    font-size: 1.2rem;
    padding: 0.7rem 0.9rem;
  }
  .btn_hover{
    min-width: 185px;
  }
  .btn_hover span{
    font-size: 1.4rem;
  }
  .btn_hover:hover::after{
    content: '';
    background: black;
    display: block;
    width: 16px;
    height: 1px;
    margin-left: auto;
    z-index: 1;
  }
}

/* New Items */
.swiper.n-swiper .swiper-pagination{
  position: inherit;
}
.swiper.n-swiper .slider-button{
  top: 24%;
  width: 30px;
  height: 30px;
}
.swiper.n-swiper .slider-button::after{
  content: none;
}
.swiper-button-prev img{
  transform: rotate(180deg);
}
.swiper.n-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: #969696;
  background: #969696;
}
@media screen and (min-width: 769px){
  .n-swiper .swiper-slide{
    max-width: 22.5%;
  }
  .swiper.n-swiper .slider-button{
    top: 31%;
    width: 60px;
    height: 60px;
  }
}

/* Best Seller */
.section_bestseller{
  border-top: 1px solid #D9D9D9;
}
@media screen and (min-width: 769px){
  .section_bestseller .product-grid .grid__item{
    max-width: 22.5%;
  }
  .section_bestseller .product-grid .grid__item:nth-child(5){
    display: none;
  }
}


/* Brand List */
.section_brandlist{
  background: #FAFAFA;
}
.section_brandlist .collection-list .collection-list__item{
  width: 33.33%;
  max-width: 33.33%;
}
.section_brandlist .collection-list__item .card__text{
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background: rgba(0,0,0, 0.6);
  padding: 0.6rem;
}
.section_brandlist .card__text h3{
  font-size: 1.2rem;
  color: white;
}
.section_brandlist .card--light-border{
  border-color: #C1C1C1;
}
@media screen and (min-width: 769px){
  .section_brandlist .collection-list.grid--3-col-tablet .grid__item{
    width: 20%;
    max-width: 20%;
  }
  .section_brandlist .collection-list__item .card__text{
    padding: 1rem;
    text-align: center;
  }
  .section_brandlist .card__text h3{
    font-size: 1.4rem;
  }
}

/* スペシャルセット */
.section_specialset {
  background: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 534px;
}
.section_specialset .collage{
  display: flex;
}
.section_specialset .collage-card.collage-product:only-child{
  border: none;
}
.section_specialset .btn_hover{
  background: #EB0B61;
}
.section_specialset .btn_hover:hover{
  color: #EB0B61;
  border: 1px solid #EB0B61;
}
.section_specialset .btn_hover:hover::after{
  background: #EB0B61;
}
.information__leftbox{
  text-align: center;
}
.section_specialset.shopify-section h2.title{
  justify-content: center;
}
.information__subtitle p{
  font-size: 1.4rem;
  font-weight: 600;
  color: #EB0B61;
}
.information__description  p{
  font-size: 1.6rem;
}
.section_specialset .collection-list-view-all{
  text-align: center;
}
@media screen and (min-width: 769px){
  .section_specialset{
    height: 496px;
  }
  .section_specialset .collage:not(.collage--mobile) .media > .collage-card__image {
    position: inherit;
  }
  .section_specialset .collage-card:not(.collage-card--left):not(.collage-card--right) > *{
    position: inherit;
  }
  .section_specialset .page-width{
    display: flex;
    justify-content: space-between;
  }
  .section_specialset .collage__item{
    max-width: 310px;
  }
  .information__leftbox,
  .section_specialset .collection-list-view-all{
    text-align: left;
  }
  .section_specialset.shopify-section h2.title{
    justify-content: flex-start;
  }
  .information__subtitle p{
    font-size: 1.6rem;
  }
}

/* お知らせ */
.section_info .rich-text {
  display: flex;
  flex-direction: column;
}
.section_info .rich-text__blocks{
  margin: 0;
}
@media screen and (min-width: 769px){
  .section_info .rich-text {
    display: flex;
    flex-direction: row;
  }
}